<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718478238322-1d4ui6dfq812a1s95qt9ogjied50rlon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718478238322-1d4ui6dfq812a1s95qt9ogjied50rlon</string>
	<key>API_KEY</key>
	<string>AIzaSyCAX7jTTwl9m-9FwaiDHIvCGU5Gc4AP89s</string>
	<key>GCM_SENDER_ID</key>
	<string>718478238322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.jacobko.SNS-Firebase-App</string>
	<key>PROJECT_ID</key>
	<string>sns-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>sns-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718478238322:ios:2245d45d303795af1c98eb</string>
</dict>
</plist>